spring: 
    application:
        name: mosh_store
    datasource:
        url: jdbc:mysql://localhost:3306/storeLastApp?createDatabaseIfNotExist=true
        username: root
        password: root

jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG   
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

jwt:
  secret: ${JWT_SECERET}
  accessTokenExpiration: 300
  refreshTokenExpiration: 604800

logging.level.org.springframework.security: DEBUG